 @font-face {
    font-family: 'pkmn';
    src: url('./resources/PokemonClassic.woff') format('woff'),
         url('./resources/PokemonClassic.ttf') format('truetype');
}  

body {
    margin: 0;
    padding: 0;
    min-height: fit-content;
}

#main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}

#contents-container{
    display: inline-block;
}

svg {
    margin-top: 0.5rem;
    height: 77vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.5s ease;
    border-style: groove; 
    border-width: 1rem;
}

#buttons {
    background-color: rgb(62, 64, 78);
    height: 17vh;
    margin-bottom: 0.5rem;
    border-style: groove;
    border-width: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.overlay-wrapper {
    position: relative;
    align-items: center;
}

.textbox-container {
    position: absolute;
    top: 2rem;
    z-index: 1;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.textbox{
    font-family: pkmn;
    font-size: calc(0.1rem + 1.5vh + 0.1vw);
    width: 80%;
    height: 70%;
    background-color: rgb(221, 221, 221);
    border-radius: 3%;
    border-style:double;
    border-width: 2rem;
    border-color: rgb(62, 64, 78);
    display: flex;
    justify-content: space-between;
}

.text{
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.text span {
    opacity: 0;
}

.text span.revealed {
    opacity: 1;
}

.text span.red {
    color: red;
}

.next-arrow {
    margin-top: 13vh;
    margin-right: 2rem;
    opacity: 0.6;
}

.next-arrow:after {
    content:'';
    width: 0;
    height: 0;
    border-top: calc(0.1rem + 1.5vh) solid;
    border-left: calc(0.1rem + 1.5vh) solid transparent;
    border-right: calc(0.1rem + 1.5vh) solid transparent;
}

.textbox:hover{
    border-color: gray;
}

.textbox:hover .next-arrow{
    opacity: 1;
    color: rgb(147, 11, 11);
}

.textbox:hover .text span{
    color: gray;
}

.icon {
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
}

.icon img {
    max-height: 14vh;
    max-width: 14vh;
    border-style: groove; 
    border-width: 1rem;
    border-color: white;
}

.icon img:hover{
    border-color: gray;
}

.hide {
    display: none;
}


.highlight:hover {
    filter: url(#highlight-shadow);
    /*filter: drop-shadow(0rem 0rem 20rem white);*/
}

/* Reset the filter when not hovering */
.rect[filter="url(#highlight-shadow)"] {
    filter: none;
}
