body {
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}

#contents-container{
    display: inline-block;
}

svg {
    margin-top: 0.5rem;
    height: 77vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.5s ease;
    border-style: groove; 
    border-width: 1rem;
}

#buttons {
    background-color: rgb(62, 64, 78);
    height: 17vh;
    margin-bottom: 0.5rem;
    border-style: groove;
    border-width: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon {
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
}

.icon img {
    max-height: 14vh;
    max-width: 14vh;
    border-style: groove; 
    border-width: 1rem;
    border-color: white;
}

.icon img:hover{
    border-color: gray;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.show {
    display: flex;
}

.hide {
    display: none;
}


.highlight:hover {
    filter: url(#highlight-shadow);
    /*filter: drop-shadow(0rem 0rem 20rem white);*/
}

/* Reset the filter when not hovering */
.rect[filter="url(#highlight-shadow)"] {
    filter: none;
}
